#################################
###### 		SET UP		   ######
#################################
[core]
#logging_conf_file=./logging.cfg
default-scheduler-host:localhost
default-scheduler-port:8082

[DEFAULT]
raw_bucket = s3://dpa-plataforma-preventiva/etl/
local_path = ../data/
bash_scripts = ./ingest/bash_scripts
python_scripts = ./ingest/python_scripts/

#################################
###### Pipelines Schemas ######
#################################

[Runpipelines]
raw_schema: raw
clean_schema: clean
temp: ../data/temp

[Ingestpipeline]
pipelines: transparencia, sagarpa_maiz

# Available Pipelines: transparencia, sagarpa_maiz, banxico
# Define Parameters for each Pipeline in "Pipeline Parameters" >>


[classic_pipeline] # Pipeline for classic ingestion
s3bucket = dpa-plataforma-preventiva

[local_ingest]

[local_to_s3]


#################################
###### Pipeline Parameters ######
#################################

[transparencia]
type_script = sh

[sagarpa]

[sagarpa_maiz]
start_date = '2004-1' 
# '' to check monthly
grano = maiz-grano


#################################
######    Methods Tasks    ######
#################################

[RTask]

[PythonTask]

[PySparkTask]

[SqoopTask]

[HadoopTask]

[RawData]

