#################################
###### 		SET UP		   ######
#################################

[core]
logging_conf_file=./logging.cfg
default-scheduler-host:localhost
default-scheduler-port:8082
max-reschedules=4
max-shown-tasks=10
max-graph-nodes=100000
email-prefix: [LUIGI]
email-sender: r.sanchezavalos@gmail.com
error-email:  r.sanchezavalos@gmail.com
rpc-connect-timeout=100.0
timeout=4800

[DEFAULT]
raw_bucket = s3://dpa-plataforma-preventiva/etl/
spark_bucket = s3://dpa-plataforma-preventiva/utils/spark/
classic_task_scripts = ./pipelines/ingest/classic/source/
common_path  = ./pipelines/ingest/common/
local_path = /data/
historical = True


[postgres]
local-tmp-dir = /data

#################################
###### Pipelines INGEST ######
#################################

[Runpipelines]
raw_schema = raw
clean_schema =  clean
temp = ./data/temp

[IngestPipeline]


#################################
###### ClassicIngest       ######
#################################
[ClassicIngest]
pipelines = insp


[ClassicIngestDates]

[UpdateLineage]

[UpdateDictionary]

[UpdateRawDB]

[Concatenation]

[Preprocess]

[LocalToS3]

[LocalIngest]

[RawHeaderTest]

[AddEmrStep]

#################################
###### Pipelines ETL ######
#################################

[ETLPipeline]
pipelines = ["coneval_estados"]

[ETL]

[UpdateCleanDB]
clean_scripts = ./pipelines/etl/clean/

[UpdateTidyDB]
tidy_scripts = ./pipelines/etl/tidy/

#################################
###### Pipelines Semantic  ######
#################################

[SemanticPipeline]
semantics = coneval

[UpdateSemanticDB]
semantic_scripts = ./pipelines/semantic/scripts/



################################################
###### Classic Ingest Pipeline Parameters ######
################################################
[SourceIngestTask]

# Set periodicity to pipeline_task [annual, biannual, quarterly, monthly, weekly]
# Set start date if applicable in the format yyyy-## the last two numbers 
#     is the fraction of the year of the type of periodicity you elected
#     (e.g. - for a quarterly pipeline a start_date of 2014-01 is the first 
# 		quarter of the year 2014)

# General: if there are two or more parameters, those should be included 'extra_parameters'.


[cuenta_publica_anual]
start_date=2014
periodicity=annual
skip = 2017

[cuenta_publica_trimestral]
periodicity=quarterly

[sagarpa]
periodicity=monthly
extra_parameters= cultivo
start_date= 2017-1
cultivo=  maiz-forrajero-en-verde, maiz-grano, melon, papa, pepino, sandia, sorgo-forrajero-en-verde, sorgo-grano, soya, tabaco, tomate-rojo, tomate-verde, trigo-grano, zanahoria, agave, aguacate, alfalfa-verde, cacao

[sagarpa_cierre]
extra_parameters=  estado
start_date= 2017
estado= 1

[segob_snim]
extra_parameters=tipo
tipo=poblacion
start_date=2010
periodicity=annual


[pub]
periodicity=annual
start_date=2013
extra_parameters=method
method=spark
skip=2017

[ipc_ciudades]
start_date=2000
periodicity=annual

[precios_granos]
periodicity=monthly
start_date = 2016-7

[precios_frutos]
periodicity=monthly
extra_parameters= mercado
start_date= 2017-0
mercado= 50, 10, 33, 20, 40, 50, 80, 70, 61, 63, 100, 101, 110, 111, 130, 141, 151, 180, 190, 200, 230, 231, 250, 260, 270, 281, 301, 306, 310

[msd]
start_date=2017
periodicity=annual

[evals]
periodicity=None

[asm]
periodicity=None

[cajeros_banxico]
periodicity=quarterly

[cenapred]
periodicity=annual
# No sabemos cuándo lo actualizan

[indesol]
periodicity=None

[donatarias_sat]
start_date = 2014

[mir]
periodicity= annual

[cuaps_sedesol]
periodicity=monthly

[finanzas_publicas_estatales]
start_date = 1989
periodicity= annual

[finanzas_publicas_municipales]
start_date = 1989
periodicity= annual

[cfe]
periodicity=annual
start_date=2017

[iter_2010]
periodicity=None

[denue]
periodicity=None

[defunciones_generales]
start_date = 2010
periodicity= annual

[defunciones_fetales]
start_date = 2010
periodicity= annual

[coneval_estados]
start_date = 2010
periodicity=annual
skip = 2011, 2013, 2015, 2017

[coneval_municipios]
start_date = 2010
periodicity=annual
skip=2011,2012,2013,2014,2015,2016,2017

[declaratoria]
periodicity=None

[insp]
periodicity=monthly
start_date = 2011-1
skip=2017-10,2017-11

#################################
######    Methods Tasks    ######
#################################

[DockerTask]
[TDockerTask]
[PgRTask]
[EmrTask]
[InitializeCluster]
[PySparkTask]
